<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *
<dom-module id="market-world">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div>{{getProducts()}}</div>
      <div class="row row-cols-1 row-cols-md-3">
        <template is="dom-repeat" items="{{products}}">
          <div class="col mb-1">
            <div class="card h-100">
              <img src="[[item.image]]" class="card-img-top" alt="card">
              <div class="card-body">
                <h5 lass="card-title">{{item.product}}</h5>
                <b class="card-subtitle">Price: {{exchangeRate(item.price, item.exchange, exch)}}</b>
                <p class="card-text">{{item.description}}</p>
                <button on-click="buyit" class="btn btn-secondary">Buy It!</button>
              </div>
              <div class="card-footer"><small class="text-muted">Published by: {{item.seller}}</small></div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <iron-ajax
      id="getUserData"
      url="http://localhost:3002/UserData"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>
  </template>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script>
    class MarketWorld extends Polymer.Element {
      static get is() { return 'market-world'; }
      static get properties() {
        return {
          products: {
            type: Array,
            notify: true
          },
          userData: {
            type: Object
          },
          seller: {
            type: Object
          },
          exchange: {
            type: Array,
            notify: true
          },
          exch: {
            type: Number,
            value: sessionStorage.exchange
          }
        };
      }

      getProducts() {
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3002/Products", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.products = JSON.parse(request.responseText);
        //console.table(this.products);
      }

      buyit (product) {
        var pro = product.model.item
        var price = this.exchangeRate(pro.price, pro.exchange, this.exch);
        var buy = confirm("Are you sure you want to spend " + price + " for the product " + pro.product + "?");
        if (buy){
          console.log(sessionStorage.balance)
          if (sessionStorage.balance < pro.price) {
            alert("Sorry, your balance is insufficient to buy this product.");
            throw false;
          }
          this.getSellerData(pro.seller, function (err, seller, update) {
            if (err) { throw err; }
            update("balance", pro.price, null, null, true, seller);
          });

          this.updateValue("balance", pro.price, pro.exchange, this.exch);
          this.updateValue("food");

          this.updateUserData(sessionStorage.email);

        }
      }

      exchangeRate(price, proExchange, exchange) {
        var req = new XMLHttpRequest();
        var url = "https://api.exchangeratesapi.io/latest";
        var base = "?base=" + proExchange;

        req.open("GET", url + base, false);
        req.setRequestHeader("Accept", "application/json");
        req.send();
        var rates = JSON.parse(req.responseText).rates;
        return (price * rates[exchange]).toFixed(2);
      }

      updateUserData(email) {
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3002/UserData", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.onreadystatechange = function () {
          if (request.readyState === 4 && request.status === 200){
            this.userData = JSON.parse(request.response)[0];
            sessionStorage.setItem('email', this.userData.email);
            sessionStorage.setItem('name', this.userData.name);
            sessionStorage.setItem('balance', parseFloat(this.userData.balance));
            sessionStorage.setItem('food', this.userData.food);
            sessionStorage.setItem('health', this.userData.health);
            $("#balance").html(parseFloat(this.userData.balance).toFixed(2) + " " + this.userData.exchange);
          }
        };
        request.send(JSON.stringify({email: email}));
      }

      updateValue(col, price, proExchange, exchange, plus, seller) {
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3002/UpdateData", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.onreadystatechange = function () {
          if (request.readyState === 4 && request.status === 200){
            console.log("Updated!");
          }
        };

        if (col == "balance") {
          if (plus){
            var body = {
              email : seller.email,
              col : col,
              value : parseFloat(seller.balance) + (parseFloat(price) * 0.6)
            }
            console.log(body);
          } else {
            var body = {
              email : sessionStorage.email,
              col : col,
              value : parseFloat(sessionStorage.balance) - this.exchangeRate(parseFloat(price), proExchange, exchange)
            }
          }
        } else {
          var body = {
            email : sessionStorage.email,
            col : col,
            value : parseInt(sessionStorage[col]) + 1
          }
        }

        request.send(JSON.stringify(body));
      }

      getSellerData(email, done) {
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3002/UserData", true);
        request.setRequestHeader("Content-Type", "application/json");
        var update = this.updateValue;
        request.onload = function () {
          done(null, JSON.parse(request.response)[0], update);
        }

        request.onerror = function () {
          done(request.response)
        }

        request.send(JSON.stringify({email: email}));
      }

      manageAJAXResponse(data) {
        console.log(data);
      }

      showError(error) {
        alert("Sorry, an error has ocurred.");
        console.log(error);
      }
    }
    window.customElements.define(MarketWorld.is, MarketWorld);

  </script>
</dom-module>
