<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *
<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row" style="padding-top: 8px">
        <div class="jumbotron">
          <h1 class="display-4">Hello, Westworld!</h1>
          <p class="lead">This is a simple hero unit, a simple Fintech that cares about you and your money. Glad to see you again!</p>
          <hr class="my-4">
          <div class="row justify-content-center">
            <div class="col-6">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" value="{{email::input}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" value="{{password::input}}" class="form-control" id="exampleInputPassword1">
                </div>
                <button on-click="login" type="button" name="button" class="btn btn-primary">Login</button>
              </form>
            </div>
        </div>
      </div>
      </div>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/Login"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          userData: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      login() {
        var loginData = {
          "email": this.email,
          "password": window.btoa(this.password)
        };

        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Welcome again, avarage citizen! :)");
        // console.log(data.detail.response);
        // $("#login").hide();

        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3002/UserData", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.onreadystatechange = function () {
          if (request.readyState === 4 && request.status === 200){
            this.userData = JSON.parse(request.response)[0];
            sessionStorage.setItem('email', this.userData.email);
            sessionStorage.setItem('name', this.userData.name);
            sessionStorage.setItem('balance', this.userData.balance)
            sessionStorage.setItem('food', this.userData.food);
            sessionStorage.setItem('health', this.userData.health);
            $("#login").html("Log Out");
            $("#login").attr("id", "logout");
            $("#balance").html(parseFloat(this.userData.balance).toFixed(2) + " " + this.userData.exchange);
            $("#main-container").html("<home-page></home-page>");
          }
        };

        request.send(JSON.stringify({email: this.email}));
        this.logado = true;
      }

      showError(error) {
        console.log("Ocurrio un error");
        alert("Sorry, you are not longer part of our special company. :(");
        console.log(error);
      }
    }
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
