<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *
<dom-module id="post-products">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="m-2">
        <h2>Post your product here!</h2>
      </div>
      <div class="mt-4">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Name</label>
            <input type="text" readonly class="form-control" id="email" value="{{name}}">
          </div>
          <div class="form-group col-md-6">
            <label for="password">Email</label>
            <input type="email" readonly class="form-control" id="password" value="{{email}}">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="product">Product Name</label>
            <input type="text" class="form-control" id="product" value="{{product::input}}">
          </div>
          <div class="form-group col-md-6">
            <label for="image">Image Link</label>
            <input type="text" class="form-control" id="image" value="{{image::input}}">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" value="{{price::input}}">
          </div>
          <div class="form-group col-md-6">
            <label for="exchange">Currency3-</label>
            <select class="form-control" id="exchange" value="{{exchange::input}}">
              <option value="" hidden>Please select an option</option>
              <option value="MXN">MXN</option>
              <option value="EUR">EUR</option>
              <option value="USD">USD</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3" value="{{description::input}}"></textarea>
        </div>
        <button on-click="postProduct" class="btn btn-primary btn-block">Post it</button>
      </div>
    </div>
    <iron-ajax
      id="postProduct"
      url="http://localhost:3002/PostProduct"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script>
    class PostProducts extends Polymer.Element {
      static get is() { return 'post-products'; }
      static get properties() {
        return {
          product: {
            type: String
          },
          description: {
            type: String
          },
          price: {
            type: Number
          },
          exchange: {
            type: String
          },
          image: {
            type: String
          },
          name: {
            type: String,
            value: sessionStorage.name
          },
          email: {
            type: String,
            value: sessionStorage.email
          }
        };
      }

      postProduct() {
        var product = {
          "product" : this.product,
          "description" : this.description,
          "price" : this.price,
          "exchange" : this.exchange,
          "image" : this.image,
          "seller" : this.email
        }
        console.log(product);

        this.$.postProduct.body = JSON.stringify(product);
        this.$.postProduct.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        alert("Your item has been posted!")
        this.updateValue("health");
      }

      showError(error) {
        alert("Sorry, an error has ocurred.");
        console.log(error);
      }

      updateValue(col, price = 0) {
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3002/UpdateData", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.onreadystatechange = function () {
          if (request.readyState === 4 && request.status === 200){
            console.log("Updated!");
          }
        };

        if (col == "balance") {
          var body = {
            email : sessionStorage.email,
            col : col,
            value : sessionStorage.balance - price
          }
          request.send(JSON.stringify(body));
        } else {
          var body = {
            email : sessionStorage.email,
            col : col,
            value : parseInt(sessionStorage[col]) + 1
          }
          request.send(JSON.stringify(body));
        }
      }
    }
    window.customElements.define(PostProducts.is, PostProducts);
  </script>
</dom-module>
