<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *
<dom-module id="home-page">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="row">
      <img class="d-block w-100" src="https://bizclik-cms-prod.s3.eu-west-2.amazonaws.com/images/4x6y77apka9x72qa-thrash/GettyImages-974158260.jpeg" alt="Los Angeles">
    </div>


    <!-- ======= About Us Section ======= -->
    <div class="row">
      <div class="col-12">
        <div class="card bg-info text-white text-center">
          <div class="container card-body">
            <h2 class="d-flex justify-content-center card-title">About Us</h2>
            <h5 class="card-subtitle">We're a company that take care about You and your money.</h5>
            <hr class="my-4">
            <p class="d-flex justify-content-center card-text">
              We offer your more than a simple sales app. We offer you a home place where you can buy and sell your products only with the people you love, and the people we care about.<br>
              Like You.<br>
              We want to give you the opportunity to join our big apocalyptic family that trade products for health points and time for food points.<br>
              We are Westworld.<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div>{{updateUserData()}}</div>
      <div class="row m-3">
        <div class="card col-6">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://i.pinimg.com/originals/c7/4f/7c/c74f7c85a03030b2afc4d6051ef6e155.png" class="card-img" alt="health-points">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Health Points</h5>
                <p class="card-text">You win Health Points by selling products. More Health Points keep your family safe and sound in the future.</p>
                <template is="dom-if" if="[[isGreaterThan(health, 0)]]">
                  <b>Your Health Points: [[health]]</b>
                </template>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-6">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://cdn.iconscout.com/icon/free/png-256/fast-food-1851561-1569286.png" class="card-img" alt="food-points">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Food Points</h5>
                <p class="card-text">You win Food Points by buying products. More Food Points gives you more space for your crops in the future.</p>
                <template is="dom-if" if="[[isGreaterThan(food, 0)]]">
                  <b>Your Food Points: [[food]]</b>
                </template>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script>
    class HomePage extends Polymer.Element {
      static get is() { return 'home-page'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: sessionStorage.name
          },
          email: {
            type: String,
            value: sessionStorage.email
          },
          health: {
            type: String,
            value: sessionStorage.health
          },
          food: {
            type: String,
            value: sessionStorage.food
          },
          userData: {
            type: Array,
            notify: true
          }
        };
      }

      isGreaterThan(a, b) {
        return a > b;
      }

      updateUserData() {
        var email = sessionStorage.email;
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3002/UserData", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.onreadystatechange = function () {
          if (request.readyState === 4 && request.status === 200){
            this.userData = JSON.parse(request.response)[0];
            //console.table(this.userData);
            sessionStorage.setItem('email', this.userData.email);
            sessionStorage.setItem('name', this.userData.name);
            sessionStorage.setItem('balance', parseFloat(this.userData.balance));
            sessionStorage.setItem('exchange', this.userData.exchange);
            sessionStorage.setItem('food', this.userData.food);
            sessionStorage.setItem('health', this.userData.health);
            this.food = this.userData.food;
            this.health = this.userData.health;
            $("#balance").html(parseFloat(this.userData.balance).toFixed(2) + " " + this.userData.exchange);
          }
        };
        request.send(JSON.stringify({email: email}));
      }
    }
    window.customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>
